// Backgrounds
$header-bg: url('../images/header-bg.jpeg');
$wood-bg: url('../images/woodgrain-bg.jpeg');
$banner-bg: url('../images/banner.jpg');

// Fonts 
$roboto: 'Roboto', sans-serif;
$architect: 'Architects Daughter', cursive;
$teko: 'Teko', sans-serif;

// Colors
$white: #ffffff;
$brwnGrey: #333;
$drkGrey: #222427;
$drkBlue:#2e3d4d;
$lgtBlue:#446286;


// Element Styles
body {
    font-family: $roboto;
}

nav {
    background-image: $header-bg;
    color: $drkBlue;  
}

main {
    color: $white;
    text-shadow:  1px 1px 10px $brwnGrey;
}

h1 {
    font-size: 4.95rem!important;
}

h2 {
    font-size: 3rem!important;
}

// Classes
.ad-font {
    font-family: $architect;
}

.teko-font {
    font-family: $teko;
}

.no-decoration {
    text-decoration: none;
    color: $drkGrey
}

.main-bg {
    background: center no-repeat $banner-bg;
    background-size: cover;
    min-height: 600px;
}

.position {
    padding-top: 150px;

    margin-left: 250px;
}

.btn-custom {
    font-size: 1.2rem;
    background-color: $lgtBlue;
    color: $white;
    padding: 20px 80px 20px 80px;
    border: none;
    margin-top: 50px;
}

.kitchen {
    background: center no-repeat url('../images/kitchens.jpeg');
    background-size: cover;
}
.bathrooms {
    background: center no-repeat url('../images/bathrooms.jpeg');
    background-size: cover;
}
.remodels {
    background: center no-repeat url('../images/remodels.jpeg');
    background-size: cover;
}
.decks {
    background: center no-repeat url('../images/decks.jpeg');
    background-size: cover;
}

.service-copy {
    text-align: center;
    padding-top: 50px;
}

.services-bg {
    background: center no-repeat $wood-bg;
}

.service-card {
    justify-content: center;
    color: $white;
    margin: 10px;
}
.card {
    margin: 10px!important;
}

.round-btn {
    color: $white;
    background-color: rgba(34,36,39, 0.5);
    border-radius: 50%;
    border-style: none;
    padding:50px;
    width: 150px;
    height: 150px;
}

.round-btn p {
    margin: 0;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.services .service-card {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    min-width: 250px;
}


// Id's