@media screen and (max-width: 768px) {
  .banner-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: calc(33.33333vh);
    height: 100vh;
    margin-left: 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 532px) {
  .contact {
    width: 40% !important;
  }
  .social {
    width: 40% !important;
  }
  .phone {
    margin-right: auto;
  }
}

@-webkit-keyframes enquire {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes enquire {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

html, body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  background-image: url("../images/header-bg.jpeg");
  color: #2e3d4d;
}

main {
  height: 100%;
  color: #ffffff;
  text-shadow: 1px 1px 10px #333;
}

footer {
  background-color: #222427;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2rem !important;
}

.ad-font {
  font-family: "Architects Daughter", cursive;
}

.no-decoration {
  text-decoration: none;
}

.nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.teko-font {
  font-family: "Teko", sans-serif;
}

.navbar-brand img {
  max-width: 120px;
  margin-left: 100px;
}

.nav-font {
  color: #222427;
  font-size: .8rem;
}

.navbar-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav-link {
  font-size: .8rem;
}

.nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(33.33333vh);
  height: 100vh;
  margin-left: 100px;
}

.btn-custom {
  font-size: 0.9rem;
  max-width: 200px;
  background-color: #446286;
  color: #ffffff;
  padding: 15px 60px 15px 60px;
  border: none;
  margin-top: 50px;
}

.btn-custom p {
  margin: 0;
}

.btn-custom:hover {
  -webkit-animation: enquire 0.5s;
          animation: enquire 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-bg {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: center no-repeat url("../images/banner.jpg");
  background-size: cover;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.kitchen {
  background: center no-repeat url("../images/kitchens.jpeg");
  background-size: cover;
}

.bathrooms {
  background: center no-repeat url("../images/bathrooms.jpeg");
  background-size: cover;
}

.remodels {
  background: center no-repeat url("../images/remodels.jpeg");
  background-size: cover;
}

.decks {
  background: center no-repeat url("../images/decks.jpeg");
  background-size: cover;
}

.services-bg {
  background: center url("../images/woodgrain-bg.jpeg");
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 50px;
}

.service-copy {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

.service-copy h4 {
  font-weight: 350;
}

.service-copy p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.services .service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 250px;
  min-width: 200px;
}

.service-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  margin: 10px;
}

.round-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: rgba(34, 36, 39, 0.5);
  border-radius: 50%;
  border-style: none;
  padding: 50px;
  width: 150px;
  height: 150px;
}

.round-btn:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: rgba(34, 36, 39, 0.9);
  -webkit-box-shadow: 0 10px 10px #222427;
          box-shadow: 0 10px 10px #222427;
}

.round-btn p {
  margin: 0;
  line-height: 0;
}

.round-btn-text {
  font-size: 1.3rem;
  letter-spacing: 2px;
  line-height: 1 !important;
}

.copyright {
  color: #737373;
  margin: 0;
}

.contact {
  color: #ffffff;
  font-size: .9rem;
}

.footer-wrapper {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.legal {
  color: #446286;
}

.phone {
  margin-left: auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.social-row {
  margin-top: 30px;
}

.social-row a {
  margin-left: 15px;
}
/*# sourceMappingURL=style.css.map */