// Backgrounds
$header-bg: url('../images/header-bg.jpeg');
$wood-bg: url('../images/woodgrain-bg.jpeg');
$banner-bg: url('../images/banner.jpg');

// Fonts 
$roboto: 'Roboto', sans-serif;
$architect: 'Architects Daughter', cursive;
$teko: 'Teko', sans-serif;

// Colors
$white: #ffffff;
$brwnGrey: #333;
$drkGrey: #222427;
$drkBlue:#2e3d4d;
$lgtBlue:#446286;


// Element Styles
html, body {
    font-family: $roboto;
    height: 100%;
    margin: 0;
}

nav {
    background-image: $header-bg;
    color: $drkBlue;  
}

main {
    height: 100%;
    color: $white;
    text-shadow:  1px 1px 10px $brwnGrey;
}

footer {
    background-color: $drkGrey;
}

h1 {
    font-size: 3rem!important;
}

h2 {
    font-size: 2rem!important;
}

// Classes
.nowrap {
    flex-wrap: nowrap!important;
}

.no-decoration {
    text-decoration: none;
}

.ad-font {
    font-family: $architect;
}

.teko-font {
    font-family: $teko;
}


.navbar-brand img {
    max-width: 120px;
    margin-left: 100px;
}

.nav-link {
    font-size: .8rem;
}

.nav-link:hover {
    transform: scale(1.2);
}

.nav-font {
    color: $drkGrey;
    font-size: .8rem;
}

.navbar-end {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
}

.main-bg {
    background: center no-repeat $banner-bg;
    background-size: cover;
    min-height: 600px;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.banner-position {
    padding-top: 150px;

    margin-left: 100px;
    flex-grow: 1;
}

.btn-custom {
    font-size: 0.9rem;
    background-color: $lgtBlue;
    color: $white;
    padding: 20px 80px 20px 80px;
    border: none;
    margin-top: 50px;
}

.kitchen {
    background: center no-repeat url('../images/kitchens.jpeg');
    background-size: cover;
}
.bathrooms {
    background: center no-repeat url('../images/bathrooms.jpeg');
    background-size: cover;
}
.remodels {
    background: center no-repeat url('../images/remodels.jpeg');
    background-size: cover;
}
.decks {
    background: center no-repeat url('../images/decks.jpeg');
    background-size: cover;
}

.service-copy {
    text-align: center;
    padding-top: 50px;
}

.services-bg {
    background: center  $wood-bg;
}

.service-card {
    justify-content: center;
    color: $white;
    margin: 10px;
}
.card {
    margin: 10px!important;
}

.round-btn {
    color: $white;
    background-color: rgba(34,36,39, 0.5);
    border-radius: 50%;
    border-style: none;
    padding:50px;
    width: 150px;
    height: 150px;
}

.round-btn p {
    margin: 0;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.services .service-card {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    min-width: 250px;
}

.contact {
    color: $white;
}

.legal {
    color: $lgtBlue
}

.copyright {
    color: rgb(115, 115, 115);
}

.social {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.footer-wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
// Id's